[Unit]
Description=gunicorn daemon 

After=network.target 

[Service]
User=yc-user 

WorkingDirectory=/home/yc-user/taski/backend/

ExecStart=/home/yc-user/taski/backend/venv/bin/gunicorn --bind 0.0.0.0:8000  --timeout 120 --workers=3 --threads=3 --worker-connections=1000 backend.wsgi

[Install]
WantedBy=multi-user.target